@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  #main-title {
    font-family: 'Kalnia', serif;
  }
  
  h1, h2, h3 {
    color: #007bff;
    text-align: center;
    margin: 20px 0;
  }


  
  /* NavBar styles */
  /* .sidebar {
    background-color: #007bff;
    color: #fff;
  } */

  
  /* .sidebar button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    text-align: left;
  } */

  /* .sidebar.collapsed button {
    padding: 10px;
  } */
  
  /* .sidebar button:hover {
    background-color: #004080;
  } */
  
  /* JournalList styles */
  
  h2 {
    color: #007bff;
  }
  
  /* JournalEntry styles */
  article {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }
  
  p {
    color: #333;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* NewEntryForm styles */
  #new-journal-entry {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }
  
  label {
    color: #333;
    display: block;
    margin-bottom: 8px;
  }
  
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* EditEntryForm styles */
  #edit-journal-entry {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }
  
  /* AuthenticationForm styles */
  div {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }
  
  /* Home styles */
  h2,
  h3 {
    color: #007bff;
  }
  
  /* NewUserForm styles */
  h2 {
    color: #007bff;
  }
  
  .input-box {
    width: 100%;
    box-sizing: border-box;
  }

  .page-body{
    display: grid;
    grid-template-columns: 20% 80%;
  }
  
  .title{
    text-align: center;
  }